<main id="main" class="form-card">
  <%= form_with(model: workforce_application, local: true, builder: Cfa::Styleguide::CfaFormBuilder) do |form| %>

    <header class="form-card__header">
      <h1 class="form-card__title">
        Tell us about yourself
      </h1>
    </header>

    <div class="form-card__content">
      <%= form.cfa_input_field(:email, "What is your email?", type: "email") %>
      <%= form.cfa_input_field(:phone_number, "What is your phone number?", type: "tel",
                               help_text: "We will send you text messages at this number.") %>
      <%= form.cfa_input_field(:household_size, "How many people do you live with and share money with?", type: "number") %>
      <%= form.cfa_input_field(:earned_income, "How much money do you make each month?", type: "number",
                               help_text: "Your best estimate is okay.", prefix: "$") %>
    </div>
    <div class="form-card__footer">
      <button type="submit" class="button button--primary">Continue <i class="icon icon-arrow_forward"></i></button>
    </div>
  <% end %>
</main>
